<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid practice</title>
    <link href="../styles/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="grid grid-cols-3">
      <div class="bg-green-400 rounded-3xl">div 1</div>
      <div class="bg-pink-400 rounded-3xl">div 2</div>

      <div class="grid grid-row-4">
        <div class="bg-pink-400 rounded-3xl">div 2</div>
        <div class="bg-green-400 rounded-3xl">div 1</div>
        <div class="bg-pink-400 rounded-3xl">div 2</div>
        <div class="bg-green-400 rounded-3xl">div 1</div>
      </div>
    </div>
  </body>
</html>
