<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Position</title>
    <link href="../styles/output.css" rel="stylesheet" />
  </head>
  <body class="h-[3000px] pl-24 pt-12">
    <div class="bg-black text-white h-10 fixed top-0 left-0 right-0">
      header
    </div>
    <div class="bg-pink-800 text-white fixed w-20 top-10 bottom-0 left-0">
      Side Bar
    </div>
    <div class="absolute bg-blue-600 text-white">Absolute</div>
    <div class="bg-teal-200 h-52 w-52 static">Div 1</div>
    <div class="bg-orange-200 h-52 w-52">Div 2</div>
  </body>
</html>
